body {
    background: linear-gradient(#d8b5ff, #1eae98);
    background-repeat: no-repeat;
    font-family: 'Rajdhani', sans-serif;
    color: rgb(7, 6, 6);
    font-weight: 900;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}

.cont {
    opacity: 0.5;
    width: 350px;
    height: 500px;
    padding: 46px;
    border-radius: 20px;
    box-sizing: border-box;
    /*background-color: rgb(0, 221, 255);*/
    box-shadow: 14px 14px 20px #333, -14px -14px 20px #fff;
}

input {
    /* background-color: rgb(0, 221, 255);*/
    padding: 16px;
    padding-left: 20px;
    height: 15px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #333, inset -6px -6px 6px #fff;
}

.neuro {
    text-align: center;
    opacity: 0.5;
    width: 350px;
    height: 500px;
    padding: 46px;
    border-radius: 20px;
    box-sizing: border-box;
    /*background-color: rgb(0, 221, 255);*/
    box-shadow: 14px 14px 20px #333, -14px -14px 20px #fff;
}

i {
    font-size: 30px;
    /*height: 60px;*/
    width: 60px;
    border-radius: 30px;
    border: 1px solid;
    box-shadow: 14px 14px 20px #333, -14px -14px 20px #fff;
    text-align: center;
    margin-top: 12px;
}

p {
    padding: 16px;
    padding-left: 20px;
    height: 15px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: 14px 14px 20px #333, -10px -10px 10px #fff;
}
.submit{
    color: coral;
    box-shadow: 14px 14px 20px #333, -14px -14px 20px #fff;
}
.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
